/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-height: 100%;
}

#return-home{
  background-color:black;
  color:rgb(250, 250, 250);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #099b8f;
}

button {
  border: none;
  cursor: pointer;
}

aside{
  border-bottom: 1px solid #444;
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
  text-align: center;
}





