/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

html, body {
  height: 100%;
  background-color: lightgrey;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  cursor: pointer;
  
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
  text-align: center;
}

/* CUSTOMIZATIONS */

#title {
    font-size: 5rem !important;
    
}


.start-btn{
  margin-top: 7%;
  max-width: 25%;
  padding: 2% 6% !important;
  background-color: rgb(43, 181, 181) !important;
}

.modal {
  max-width: 40% !important;
  max-height: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.modal-submit-btn {
  background-color: rgb(43, 181, 181) !important;
}
.hide {
  display:none;
}


.box-title{
  background: #fff;
  font-family: Montserrat, sans-serif;;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #009688;
  padding: 40px;
  box-shadow:
	  inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px, 
    inset #48e4d6 0 0 0 17px, 
    inset #e5f9f7 0 0 0 21px, 
    inset #bfecf7 0 0 0 22px;
  text-shadow: 3px 3px 1px #bfecf7;
}